<div class="backdrop">
    <div class="modal" style='background-image: url({{ block.settings.imageUrl }})'>
        <span class="close" style='color: {{ block.settings.textColor }}'>&times;</span>
        <h2 class='title' style='color: {{ block.settings.textColor }}'>{{ block.settings.title }}</h2>
        <p class='description' style='color: {{ block.settings.textColor }}'>{{ block.settings.description }}</p>
        <a href="{{ block.settings.buttonUrl }}" class='button'>{{ block.settings.buttonText }}</a>
    </div>
</div>
